{% extends 'base.html' %}
{% load tags %}
{% load filters %}
{% block start %}
    <!-- End Navigation Bar -->

    <div class="container">
        {#        {% if not pet_photos %}#}
        <h1 class='text-center'>{% if not pet_photos %}No pet photos yet {% else %}All Pet Photos{% endif %}</h1>
        <div class=" row d-flex justify-content-center align-content-center">
            <!-- Button to Add a new Photo -->
            {% if not pet_photos %}
                <a href="{% url 'add photo'%}" class="btn btn-lg btn-secondary row align-self-baseline">Add Photo</a>
                </div>
                {#        {% else %}#}
            {% else %}
                <!-- If there are pet photos -->
                <div class="container mb-5">
                    <div class="row mb-5">
                        {% for photo in pet_photos %}
                            <div class="card ml-3 mb-3" style="width: 18rem;">
                                <!-- Image -->
                                <img src="{{ photo.photo.url }}"
                                     class="card-img-top" alt="Photo description">
                                <div class="card-body">
                                    {% for pet in photo.tagged_pets.all%}
                                        <!-- Info for each pet on the photo -->
                                        <h5 class="card-title">{{ pet.name }}{% if pet.date_of_birth %},  age:
                                            {{ pet.date_of_birth.year|find_date_of_birth }}{% endif %}</h5>
                                    {% endfor %}

                                    <!-- First 30 chars from the description -->
                                {% if photo.description %}
                                    <p class="card-text">{% if photo.description|length > 30 %}
                                        {{ photo.description|truncatechars:31}}{% else %}{{ photo.description }}{% endif %}</p>
                                {% endif %}
                                    <!-- Button to the Photo Details Page -->
                                    <a href="{% url 'photo details' photo.id%}" class="btn btn-primary">See details</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Pet Photos -->
                </div>
            {% endif %}
    <!-- Page Footer -->
{% endblock %}

